@import "../../../src/scss/utils/variables";

.videoText {
    // height: 100vh;
    display: flex;
    align-items: center;
    background-color: $grey;
    padding-top: 50px;
    padding-bottom: 50px;

    @media(min-width: $md) {
        height: 60vh;
        padding-top: 0;
        padding-bottom: 0;
    }

    @media(min-width: $lg) {
        height: 100vh;
    }

    &.pink {
        background-color: $sec-brand-color;
    }

    &.blue {
        background-color: $brand-color;
    }

    &.videoText1 {
        // height: calc(100vh - 100px);

        @media(min-width: $md) {
            height: calc(60vh - 100px);
        }
    
        @media(min-width: $lg) {
            height: calc(100vh - 100px);
        }

        .videoTextWrap {
            @media(min-width: $md) {
                margin-top: -50px;
            }
        }
    }
}

.videoTextWrap {
    max-width: 350px;

    h1,h2,h3,h4,h5,h6,p,li,span {
        color: $white;
    }

    h3 {
        margin-bottom: 25px;
        @media(min-width: $lg) {
            font-size: 50px;
            line-height: 1;
        }
    }
}

.videosWrap {
    position: relative;
    overflow: hidden;
}

.videoMobile {
    width: 100%;
    margin-top: 40px;
    
    @media(min-width: $md) {
        display: none;
    }

    video {
        width: 100%;
    }
}