.fullHero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;

    img {
        width: 100%;
        margin: 0 auto;
        max-width: 200px;
    }

    .fullWidthGI {
        width: 100%;
        transform: translateY(-50%);

        div {
            width: 100%;
            margin: 0 auto;
            max-width: 200px;
        }
    }
}