@import "../../../src/scss/utils/variables";

.flipdownContainer {
    display: grid;
    column-gap: 2px;
    row-gap: 1px;
    grid-template-columns: auto auto auto auto;
    background-color: $sec-brand-color;
    padding: 10px;
}

.flipdownItem {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    padding-bottom: 50%;
    position: relative;

    img {
        width: 100%;
        display: block;
    }
}

.hovered,.flipped {
    .flipdownItemWrap {
        transform: rotateX(180deg);
    }
}

.flipdownItemWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}


  
.flipdownItemFront, .flipdownItemBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.flipdownItemBack {
    transform: rotateX(180deg);
}