@import "../../../src/scss/utils/variables";

.blogContent {
    padding-top: 50px;
    ul,ol {
        margin-left: 20px;
    }
}

.blogContentWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blogContentText {
    width: 100%;
    margin-bottom: 40px;

    @media(min-width: $md) {
        width: calc(100% - 240px);
        margin-bottom: 0;
    }

    @media(min-width: $lg) {
        width: calc(100% - 300px);
    }
}

.blogContentMeta {
    width: 100%;
    margin-bottom: 40px;

    @media(min-width: $md) {
        width: 200px;
        margin-bottom: 0;
    }

    @media(min-width: $lg) {
        width: 260px;
        margin-top: -100px;
    }
}

.blogContentMetaInner {
    position: sticky;
    top: 100px;
}

.blogContentTitle {
    position: relative;
    padding-top: 100px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40vw;
        height: 8px;
        background-color: $sec-brand-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translateY(25px);
        transition: width 0.3s ease;

        @media(min-width: $md) {
            width: 20vw;
        }
    
        @media(min-width: $lg) {
            width: 30vw;
        }

        @media(min-width: $xlg) {
            width: 35vw;
        }
    }

    &:hover {
        &:before {
            @media(min-width: $md) {
                width: 40vw;
            }
        
            @media(min-width: $lg) {
                width: 45vw;
            }
    
            @media(min-width: $xlg) {
                width: 50vw;
            }
        }
    }

    h1 {
        max-width: 600px;
    }
}

.blogContentAuthor {
    img {
        margin-bottom: 10px;
    }
    
    p {
        margin: 0;
        line-height: 1.4;
        font-weight: 300;
        font-size: 20px;
    }
}

.blogDate {
    margin-top: 15px;

    p {
        margin: 0;
        color: $sec-brand-color;
        font-weight: 700;
    }
}

.blogCats {
    display: flex;
    flex-wrap: wrap;

    p {
        color: $sec-brand-color;
        font-weight: 300;
        margin: 0;

        &:after {
            content: '/';
        }

        &:last-of-type {
            &::after {
                content: '';
            }
        }
    }
}

.blogRelated {
    margin-top: 40px;
    border-top: 1px solid $sec-brand-color;

    h5 {
        font-size: 16px;
        color: $sec-brand-color;
    }
}