@import "../../../src/scss/utils/variables";

.flipdownContainer {
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-columns: auto auto auto auto;
    background-color: $sec-brand-color;
    padding: 10px;
}

.flipper {
    display: flex;
    justify-content: flex-end;

    img {
        width: 100%;
        max-width: 40px;
        display: block;
        margin: 0 !important;
    }
}