@import "../../../src/scss/utils/variables";

.column {
    width: 100%;

    @media(min-width: $md) {
        width: calc(50% - 20px);
    }

    &.col40 {
        @media(min-width: $lg) {
            width: calc(40% - 60px);
        }
    }

    &.col60 {
        @media(min-width: $lg) {
            width: calc(60% - 60px);
        }
    }

    &.col30 {
        @media(min-width: $lg) {
            width: calc(30% - 20px);
        }
    }

    &.col33 {
        margin-bottom: 20px;
        @media(min-width: $md) {
            width: calc(33.333333% - 20px);
        }
    }

    &.col70 {
        @media(min-width: $lg) {
            width: calc(70% - 20px);
        }

        video {
            width: 100%;
        }
    }

    &.col30under {
        margin-top: 60px;

        @media(min-width: $lg) {
            margin-top: 100px;
            width: calc(30% - 20px);
        }
    }

    &.col70under {
        margin-top: 60px;

        @media(min-width: $lg) {
            margin-top: 100px;
            width: calc(70% - 20px);
        }
    }

    h1 {
        margin-bottom: 25px;

        @media(min-width: $md) {
            margin-bottom: 40px;
        }

        @media(min-width: $lg) {
            margin-bottom: 60px;
        }
    }

    img {
        margin: 0 auto;

        @media(min-width: $md) {
            margin: 0;
        }
    }
}