.btn {
    padding: 9px 22px 12px;
    display: inline-block;
    color: $white;
    background: $btn-bg;
    @include font-size(18);
    font-weight: 500;
    border-radius: 25px;
    transition: background-color 0.25s ease-in-out;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    font-family: $sans-serif-font-family;

    @media screen and (min-width: $breakpoint-sm) {
        display: inline-block;
    }
    &:hover {
        color: $btn-text-hover;
        text-decoration: none;
        background-color: $btn-bg-hover;
    }

    &--smaller {
        padding: 7px 11px 10px;
        @include font-size(14);
    }

    &--larger {
        padding: 9px 30px 15px;
        @include font-size(21);
    }

    &--ghost {
        background-color: transparent;
        border: 3px solid $brand-color;
        color: $brand-color;

        &:hover {
            background-color: $brand-color;
            color: $white;
        }
    }

    &--alt {
        color: $white;
        background: $sec-brand-color;

        &:hover {
            color: $btn-text-hover;
            background-color: $brand-color;
        }
    }

    &--to-white {
        color: $white !important;
        background: $btn-bg;

        &:hover {
            color: $brand-color !important;
            background-color: $white;
        }
    }

    &--alt-white {
        color: #000;
        background: $sec-brand-color;

        &:hover {
            color: $brand-color;
            background-color: $white;
        }
    }

    &--white {
        color: #000;
        background: $white;

        &:hover {
            color: #000;
            background-color: $sec-brand-color;
        }
    }

    &--pink-glow {
        background-color: rgba($color: $white, $alpha: 0.5);
        font-style: italic;
        filter: drop-shadow(0px 0px 3px $brand-color);
        color: $grey;

        &:hover {
            background-color: $white;
            color: $grey;
        }
    }

    &--replay {
        padding: 7px 11px 10px 32px;
        @include font-size(14);
        background-color: #000;
        color: $white;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            left: 8px;
            top: 6px;
            width: 20px;
            height: 20px;
            background-image: url('https://images.ctfassets.net/74ncoczcn9dm/3e16EToSJjm1dcMCWqm7Dn/769f3584536f408ca63761dbac411136/352446_replay_icon.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(0);
            transition: all 0.5s ease;
        }

        &:hover {
            &:before {
                transform: rotate(-360deg);
            }
        }
    }
}

.link {
    color: $base-color;
    @include font-size(18);
    font-weight: 700;
    transition: text-decoration 0.3s ease;

    &:hover {
        transition: color 0.25s ease-in-out;
        color: $btn-bg-hover;
    }
}