.container {
    width: 100%;
    max-width: 1400px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 20px;

    &Hidden {
        overflow: hidden;
    }

    &900 {
        max-width: 900px !important;
    }

    &1000 {
        max-width: 1000px !important;
    }

    &600 {
        max-width: 600px !important;
    }

    &800 {
        max-width: 800px !important;
    }

    &1920 {
        max-width: 1920px !important;
    }

    .container {
        padding: 0;
    }
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}


.pink {
    background-color: $sec-brand-color;

    h1,h2,h3,h4,h5,h6,p,li,ul,ol,a {
        color: $white;
    }
}

.grey {
    background-color: $grey;

    h1,h2,h3,h4,h5,h6,p,li,ul,ol,a {
        color: $white;
    }
}

.black {
    background-color: #000;

    h1,h2,h3,h4,h5,h6,p,li,ul,ol,a {
        color: $white;
    }
}

.blue {
    background-color: $brand-color;

    h1,h2,h3,h4,h5,h6,p,li,ul,ol,a {
        color: $white;
    }
}

.carbon {
    p {
        margin-top: 60px;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.1;
    }
}

.logo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 40px;

    @media(min-width: $md) {
        width: calc(50% - 40px);
        max-width: none;
        margin: 0 20px 40px;
    }

    @media(min-width: $lg) {
        width: calc(25% - 40px);
    }
}

.svganim {
    svg {
        .st0{
            fill:none;
            stroke:red;
            stroke-width:34px;
            animation: H-mid-move 1s ease forwards;
            animation-iteration-count: 3;
        }
        .st1{
            fill:none;
            stroke:red;
            stroke-width:0;
        }
    }
}

@keyframes H-mid-move {
    0% {
        stroke: red;
    }
    25% {
        stroke: transparent;
    }
    50% {
        stroke: blue;
    }
    75% {
        stroke: transparent;
    }
    100% {
        stroke: red;
    }
}