.wrapper {
    padding-top: 60px;
    @media(min-width: $breakpoint-md) {
        padding-top: 120px;
    }
}

html {
    // background: white;
}

body {
    position: relative;
    // background: white;
    z-index: 1;
}

.container {
    @extend %container;
    box-sizing: border-box;
    &--narrow {
        max-width: 800px;
        margin: 0 auto;
    }
}
