
table:not([class]) {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    font-size: 0.7em;
    margin: $sp-unit 0;
    @media screen and (min-width: $md) {
        font-size: 0.8em;
        width: 100%;
    }

    caption {
        margin: 0 0 calc($sp-unit/2);
    }

    th,
    td {
        vertical-align: top;
        border: 1px solid $border-color;
        padding: 0.5em 0.6em;
        background-color: $white;
        font-size: 16px;
        @media screen and (min-width: $md) {
            padding: 1em;
        }

        &.tableGreen {
            background-color: #ebf1de;
        }
        
        &.tableRed {
            background-color: #d98177;
        }

        &.tableDarkOrange {
            background-color: #df9975;
        }

        &.tableOrange {
            background-color: #ebb576;
        }

        &.tableYellow {
            background-color: #f4d679;
        }
    }
    th {
        color: #fff;
        font-weight: bold;
        background-color: $brand-color;
    }
}

.table-wrapper {
    overflow-x: auto;
}