@import "../../../src/scss/utils/variables";

.faq {
    width: 100%;
    margin-bottom: 20px;

    &Question {
        button {
            display: block;
            width: 100%;
            text-decoration: none;
            text-align: left;
            position: relative;
            font-family: "arboria", Helvetica, Arial, sans-serif;

            &:after {
                content: '';
                position: absolute;
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $brand-color;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s ease;
                display: none;
            }
            
            h3 {
                margin: 0;
                font-size:18px;

                @media(min-width: $md) {
                    font-size:24px;
                }

                @media(min-width: $lg) {
                    font-size:24px;
                } 
            }
        }
    }

    &Answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        margin-top: 20px;
    }
}

.bg_pink {

   &.faqQuestion a:after {
        border-top: 10px solid $white !important;
    }
}

.faqOpen {
    .faqAnswer {
        max-height: 1000px;
    }

    .faqQuestion {
        a {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}