
@import "../../../src/scss/utils/variables";

.footer {
    background-color: $grey;
    border-top: 1px solid $white;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
    z-index: 100001;

    @media(min-width: $md) {
        padding-top: 60px;
    }
}

.footerWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLogoSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;

    @media(min-width: 400px) {
        justify-content: center;
    }

    @media(min-width: $md) {
        width: auto;
        margin-bottom: 0;
    }
}

.footerLogo {
    margin-right: 10px;
    margin-top: -50px;
    margin-bottom: 20px;

    @media(min-width: 400px) {
        margin-bottom: 0;
        margin-top: -60px;
    }

    @media(min-width: 450px) {
        margin-top: 15px;
    }


    img {
        width: 100%;
        max-width: 65px;
    }
}

.footerInfo {
    width: 100%;

    @media(min-width: 400px) {
        width: auto;
    }
    
    p {
        color: $white;
        font-size: 12px;
        margin: 0;

        &.mt {
            margin-top: 15px;
        }
    }
}

.footerPages,
.footerServices,
.footerCase {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);

    @media(min-width: 400px) {
        width: calc(33.33333% - 20px);
        margin-bottom: 0;
    }

    @media(min-width: $md) {
        width: 80px;
    }

    a, p {
        color: $white;
        font-size: 14px;
    }

    p {
        margin-bottom: 10px;
    }
}

.footerPages {
    margin-bottom: 20px;

    @media(min-width: 400px) {
        margin-bottom: 0;
    }
}

.footerServices {
    width: 100%;

    @media(min-width: 400px) {
        width: calc(33.33333% - 20px);
        margin-bottom: 0;
        margin-top: 0;
    }

    @media(min-width: $md) {
        width: 120px;
    }

}

.footerCase {
    margin-top: 20px;
    width: 100%;

    @media(min-width: 400px) {
        width: calc(33.33333% - 20px);
        margin-bottom: 0;
        margin-top: 0;
    }

    @media(min-width: $md) {
        width: 180px;
    }

}

.footerSocials {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;

    @media(min-width: $lg) {
       display: none;
    }

    a {
        margin-right: 10px;
        display: block;

        @media(min-height: 650px) and (min-width: 1300px) {
            margin-bottom: 20px;
            margin-right: 0;
        }

        img,svg {
            width: 20px;
            margin: 0 auto;
            filter: drop-shadow(0 0 6px transparent);
            transition: filter 0.3s ease;
        }

        &:hover {
            img,svg {
                filter: drop-shadow(0 0 6px $sec-brand-color) drop-shadow(0 0 6px $sec-brand-color);
            }
        }
    }
}

.footerWild {
    display: flex;
    width: 100%;
    margin-top: 40px;

    @media(min-width: 400px) {
        justify-content: center;
    }

    @media(min-width: $lg) {
        width: auto;
        margin-top: 0;
    }


    a, p {
        color: $white;
        font-size: 14px;
        max-width: 200px;
        line-height: 1.2;
    }

    p {
        margin-bottom: 0px;
    }
}

.footerWildLogo {
    margin-left: 10px;

    img {
        width: 100%;
        max-width: 75px;
    }
}